* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  -webkit-transform: translate3d(0, 0, 0);
  text-rendering: optimizeLegibility;
  //height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 16px;
}

body {
  box-sizing: inherit;
}
// typography
h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.375rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

p {
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 1.8rem;
}

a {
  text-decoration: none;
  color: inherit;
}
