$phone-max-width: 480px;
$tablet-width: 768px;
$smaller-desktop: 1150px;
$desktop-width: 1280px;
@mixin ultra {
    @media (min-width: #{$desktop-width} + 1) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: #{$desktop-width}) {
        @content;
    }
}

@mixin smaller-desktop {
    @media (max-width: #{$smaller-desktop}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$tablet-width}) {
        @content;
    }
}

@mixin phone {
    @media (max-width: #{$phone-max-width} - 1) {
        @content;
    }
}

@mixin phoneHorizontal {
    @media (orientation: landscape) and (max-width:#{$phone-max-width} - 1) {
        @content;
    }
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@include ultra {
    html {
        font-weight: 300;
    }
}
