.footer {
  color: #fff;
  background: #141414;
  padding: 40px 0;
  @include clearfix;

  &__about {
    float: left;
    width: 30%;
    @include tablet {
      float: none;
      width: 100%;
    }
  }

  &__form {
    width: 65%;
    position: relative;
    margin-left: 35%;
    @include tablet {
      float: none;
      width: 100%;
      margin-left: 0px;
    }
  }

  &__heading {
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom:20px;
  }

  &__copy {
    p {
      font-size: 16px;
      line-height: 23px;
      margin-bottom: 10px;
      font-weight: lighter;
    }
  }
  &__input,
  &__textarea {
    display: block;
    width:200px;
    background: white;
    border-radius: 2px;
    border: 0;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    margin-bottom: 10px;
    font-size: 14px;
  }
  &__textarea {
    width: 80%;
    height: 200px;
    @include tablet {
      width: 100%;
    }
  }
  &__button {
    float: right;
    margin-top: -50px;
    margin-right: 20%;
    display: block;
    height:40px;
    width:100px;
    background:#EEEEEE;
    background-image: url('../images/caret_right-black.png');
    background-image: url('../images/caret_right-black.svg'), linear-gradient(transparent, transparent);
    background-position: 85% 50%;
    background-repeat: no-repeat;
    border: 0;
    border-radius: 5px 0 0 0;
    text-align: left;
    padding-left: 15px;
    font-weight: 500;
    font-size: 13px;
    transition: all .3s ease-in-out;
    @include tablet {
      margin-right: 0px;
    }
    &:hover {
      background-position: 87.5%
    }
  }
}


.copyright {
  background:#000;
  height:150px;
  @include tablet {
    height: auto;
  }
  &__col {
    width:calc(100%/3);
    height:150px;
    float: left;
    @include phone {
      width: 100%;
    }
  }
  &__image {
    background-image: url('../images/logo.png');
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto 70%;
  }
  &__text {
    line-height: 150px;
    color:#999;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    @include tablet {
      width: 66%;
    }
    @include phone {
      width: 100%;
      text-align: center;
      font-size: 12px;
    }
  }
  ul {
    margin-top: 10%;

    li {
      display: block;
      text-align: center;
      color:#fff;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 19px;
    }
  }
}
