.footer
  .content 
    .footer__about
      .footer__heading About Us
      .footer__copy
        p Lorem ipsum dolor sit amet, consectetur justo, nec pharetra lorem vestibulum non. Adipiscing elit.  Nam tincidunt ultrices justo, nec pharetra lorem vestibulum non. 
        p Praesent lobortis quis risus at euismod. Etiam tellus libero, volutpat eu risus vel, aliquam pharetra leo. Nam tincidunt ultrices justo, nec pharetra lorem vestibulum non. 
    .footer__form
      .footer__heading Say Hello! Ask Us Anything!
      input(type="text" placeholder="NAME").footer__input 
      input(type="text" placeholder="PHONE").footer__input 
      textarea(placeholder="MESSAGE").footer__textarea 
      input(type="submit" value="SUBMIT").footer__button 
.copyright
  .content
    .copyright__col.copyright__image
    .copyright__col.copyright__text Copyright, 2017 Strip Key Limo
    .copyright__col
      ul
        li 
          a Home
        li 
          a Our Fleet
        li 
          a Services
        li 
          a Contact
