header.header
  .content
    .header__top
      .header__top__phone
        .phone__heading Make A Reservation
        .phone__number 702 - 541 - 6767
      .header__top__logo
      
    .header__bot
        ul.header__nav
          li.header__nav__item: a(href='index.html') Home
          li.header__nav__item: a(href='out-fleet.html') Our Fleet
          li.header__nav__item: a(href='#') Services
          //li.header__nav__item: a(href='work-with-us.html') Reservations
          li.header__nav__item: a(href='#') Reservations
      
  //ul.mobile-nav
    li.mobile-nav-item: a(href='index.html') home
    li.mobile-nav-item: a(href='about-us.html') about us
    li.mobile-nav-item: a(href='our-work.html') our work
    li.mobile-nav-item: a(href='work-with-us.html') work with us
    li.mobile-nav-item: a(href='contact.html') contact
